   html {
     height: 100%;
   }

   .index-container {
     height: 100vh;
   }

   .sidebar {
     min-width: 250px;
   }

   .chat-area {
     flex-grow: 1;
   }

   .message-input {
     min-height: 80px;
   }

   .room-list li {
     padding: 8px;
     transition: background-color 0.2s;
   }

   .room-list li:hover {
     background-color: #e0e7ff;
   }

   .room-list li.active {
     background-color: #bfdbfe;
     font-weight: 500;
   }